{% extends '/auth/base-auth.html' %}

{% block header %}
<h1>{% block title %} {% endblock %} </h1>
{% endblock %}

{% block content %}

<header>
    <div class="dropdown">
        <span>|Menu|</span>
        <div class="dropdown-content">
            <a class="button " href="/"> <img src="{{ url_for('static', filename='images/logout.png') }}"
                    width="20px" /></a>
        </div>
    </div>
    <div class="logo">
        <h3> Slideshow control panel</h3>
        <img src="{{ url_for('static', filename='images/logo.png') }}" width="150px" />
    </div>
</header>

<div class="center">
    <div class="registry">
        <form method="post">
            <label for="username">Username</label>
            <input name="username" id="username" required />
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required />
            <input class="button" type="submit" value="login" />
        </form>
    </div>
</div>
<p class="error">{{ error }}</p>
{% endblock %}