:root {
    --primary-color: #e7343f;
    --primary-color-light: #e7344091;
    --secondary-color: #084c60;
}

html {
    font-family: 'Rufina', sans-serif;
    background-color: #000000;

}


header {
    position: relative;
    background-color: var(--secondary-color);
    color: #eee;
    min-height: 50px;
    border-radius: 5px;
}

.top {
    position: absolute;
    top: 20px;
    right: 20px;


}

.dropdown {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: large;


}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-left: 15px;
    padding-top: 20px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.button {
    display: block;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 5px;
}

.center {
    display: grid;
    place-content: center;
    width: 100%;
    color: darkgrey;
    margin: 25px;

}

img.slide-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-height: 650px;
    object-fit: cover;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1px 0 1px 0px;
    border-radius: 4px;
    text-align: left;
    margin: 10px 10px 0px;
}

.footer p {
    margin-left: 20px;
}

h1 {
    background-color: darkgrey;
    color: #fff;
    width: 600px;
    margin-bottom: 0px;
}

.error {
    color: var(--primary-color);
    font-size: large;
    font-style: italic;
    text-align: center;

}


.registry form {
    display: grid;
    place-content: center;
    width: 100%;
    margin-bottom: 15px;


}

.registry form input {
    font-family: 'Raleway', sans-serif;
    border: 1;
    height: 30px;
    width:  auto;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: 0 1px 5px #ddd;
    outline: none;
    margin: 5px 0 5px;
}

.user-div {
    display: flex;
    width: 600px;
    align-items: stretch;
}

.user-table {
    width: 100%;
    text-align: left;
}